<main class="page checkout-page">
  <section class="manage-page dark">
    <div class="container">
      <div class="block-heading">
        <h2>Manage Books</h2>
      </div>
      <div class="row">
        <div class="col-auto ml-auto pb-3">
          <a href="/manage/add"><button type="button" class="btn btn-sm btn-success">Add Book</button></a>
        </div>
      </div>
      <table class="table table-hover" id="manageTable">
        <thead>
          <tr>
            <th scope="col" onclick="sortTable(0)">Book</th>
            <th scope="col" onclick="sortTable(1)">Author</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each books}}
          <tr>
            <td>{{title}}</td>
            <td>{{author}}</td>
            <td>{{price}}</td>
            <td>
              <a href="/manage/edit/{{id}}"><button type="button" class="btn btn-sm btn-success">Update Book</button></a>
            </td>
            <td>
              <form method="post" action="/manage/{{id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-sm btn-danger">Delete Book</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</main>
